html {
    font-family: "Raleway Dots", sans-serif;
    font-weight: 400 !important;
    font-style: normal;
    text-transform: uppercase;
}

h1, h2, body>footer section:last-of-type {
    font-weight: 800 !important;
}

hgroup {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

hgroup h1 {
    font-size: 2rem;
}

#backfill{
    width:70px;
}

.card>div>h2 {
    text-align: center;
    font-size: 1rem;
}

.card>div {
    padding: 0.5rem;
}

.featured-card, .card>img, .card, .card>figure, .card figure>img {
    border-radius: 0.1rem;
}

.featured-card>div {
    background-image: none;
}

p {
    display: none;
}

#logo {
    margin: 0 auto;
}

#logo img {
    height: 100px;
    object-fit: contain;
}

main>section, body>menu {
    margin-bottom: 1.5rem !important;
}

header {
    margin-bottom: 0.5rem !important;
}
